<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="linux_cmd_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="linux_cmd.css">
    <link rel="stylesheet" href="github-markdown-light.css">
    <title>Linux 命令大全</title>
</head>
<body>
    <h1>Linux 命令大全</h1>
    <p class="tip">Type "/" to focus on the searchBox, press "Escape" to blur.<br>
        Use "ArrowUp" and "ArrowDown" to navigate, and "Enter" to retrieve.</p>
    <input type="text" class="query" id="query" autocomplete="off" autofocus="autofocus">
    <div class="search">
        <ul class="search-list" id="result" style="display: block;"></ul>
    </div>
    <div id="cur_cmd" class=""></div>
    <div id="markdown-content" class="markdown-body"></div>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="linux_cmd_sgst.js"></script>
</body>
</html>
